.layout {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  background-color: #2e2452;
  gap: 10px;
}
.container {
  width: 560px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
  padding-bottom: 60px;
}
.image{
  object-fit: cover;
  
}
.u-pick{
  position: absolute;
  top: 20%;
  left: 50px;
  font-size: 32px;
  color: #ccc;
  animation: showPick 1s ease;
}
@keyframes showPick {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.house-pick{
  position: absolute;
  top: 20%;
  left: 330px;
  font-size: 32px;
  color: #ccc;
  animation: showPick 1s ease;
}
.btn-house{
  top: 30% !important;
  left: 60% !important;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  animation: housePick 1s ease;
  box-shadow: inset 3px 20px 20px -12px rgba(0, 0, 0, 0.75) !important;
}
.house-shadow{
  width: 10rem;
  height: 10rem;
  background-color: #23212b;
  position: absolute;
  top: 28%;
  left: 57%;
  border-radius: 50%;
}
@keyframes housePick {
  0%{
    opacity: 0;
    
  }
  80%{
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }
}

.btn {
  width: 8rem;
  height: 8rem;
  position: absolute;
  border-radius: 50%;
  padding: 20px;
  background-color: #ddd;
  cursor: pointer !important;
  z-index: 1;
  border: 1rem solid;
  transform: rotate(0) translate(0px) rotate(0);
}
.container .btn:hover {
  background-color: #ffffff;
}
.container .btn::after {
  content: "";
  position: absolute;
  box-shadow: inset 3px 20px 20px -12px rgba(0, 0, 0, 0.75) !important;
  inset: 0;
  border-radius: 50%;
}

.move-center {
  position: absolute;
  top: 30% !important;
  left: 10% !important;
  transition: all 0.5s ease;
}

.container .btn-0 {
  top: 30%;
  left: 20%;
  /* transform: rotate(95deg) translate(150px) rotate(-100deg); */
  border-color: blue;
  box-shadow: 0px 12px 1px -2px rgba(27, 62, 175, 0.75);
}
.container .btn-1 {
  top: 30%;
  left: 60%;
  /* transform: rotate(-30deg) translate(150px) rotate(30deg); */

  border-color: yellow;
  box-shadow: 0px 12px 1px -2px rgba(172, 175, 27, 0.75);
}
.container .btn-2 {
  top: 60%;
  left: 39%;
  /* transform: rotate(210deg) translate(150px) rotate(-210deg); */
  border-color: red;
  box-shadow: 0px 12px 1px -2px rgba(199, 37, 37, 0.75);
}

.border {
  border: 3px solid gray;
  border-radius: 14px;
  width: 560px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1;
  margin: 0;
  padding: 0;
}
.list li {
  color: #ccc;
  font-size: 32px;
}
.border .score {
  background-color: #ccb;
  border-radius: 10px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.border .score:hover {
  background-color: white;
  cursor: pointer;
}
.score span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: blue;
}
.score span:nth-child(2) {
  font-size: 42px;
  font-weight: bolder;
}

.reset {
  padding: 10px;
  font-size: 20px;
  animation: resultShow 3s ease;

}
.result-cont{
  /* position: absolute; */
  /* top: 50%; */
  /* left: 38%; */
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  opacity: 1;
  gap: 10px;
}
@keyframes resultShow {
  0%{opacity: 0;}80%{opacity: 0;}100%{opacity: 1;}
}
.result{
  animation: resultShow 3s ease;
  color: #ccc;
  font-size: 32px;
  border-radius: 10px;
}
.rules-container{
  position: absolute;
  z-index: 2;
  background-color: #ececec;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
}
.rules-header{
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 100%;
  position: relative;
}
.btn-rules{
  /* position: absolute; */
  right: 10px;
  top: 10px;
  padding: 2px;
  font-size: 40px;
  border: none;
}
.bnt-open-rules{
  padding: 10px;
  font-size: 22px;
  border-radius: 5px;
}
@media (max-width: 560px) {
  .layout{
    min-width: 100%;
    /* min-height: 100vh; */
    height: 100vh;
    justify-content: space-between;
    display: block;
  }
  .container{
    width: 100%;
    /* min-height: 100vh; */
    justify-content: flex-start;
    position: relative;
    /* align-items: center; */
    
  }
  .border{
    width: 100%;
  }
  .btn{
    width: 6rem;
    height: 6rem;
    border: 0.4rem solid;
    position: absolute;
  }
  .container .btn::after {
    content: "";
    position: absolute;
    box-shadow: inset 3px 20px 20px -12px rgba(0, 0, 0, 0.75) !important;
    inset: 0;
    border-radius: 50%;
  }
  .container .btn-0 {
    top: 30%;
    left: 20%;
    /* transform: rotate(15deg) translate(20px) rotate(-100deg); */
    border-color: blue;
    box-shadow: 0px 12px 1px -2px rgba(27, 62, 175, 0.75);
  }
  .container .btn-1 {
    top: 30%;
    left: 60%;
    /* transform: rotate(-30deg) translate(20px) rotate(30deg); */
  
    border-color: yellow;
    box-shadow: 0px 12px 1px -2px rgba(172, 175, 27, 0.75);
  }
  .container .btn-2 {
    top: 54%;
    left: 39%;
    /* transform: rotate(210deg) translate(20px) rotate(-210deg); */
    border-color: red;
    box-shadow: 0px 12px 1px -2px rgba(199, 37, 37, 0.75);
  }
  .move-center {
    position: absolute;
    top: 30% !important;
    left: 20% !important;
    transition: all 0.5s ease;
  }
  .btn-house{
    top: 30% !important;
    left: 60% !important;
    position: absolute;
    transition: all 1s ease;
    animation: housePick 1s ease;
    box-shadow: inset 3px 20px 20px -12px rgba(0, 0, 0, 0.75) !important;
  
  }
  .house-shadow{
    width: 8rem;
    height: 8rem;
    background-color: #23212b;
    position: absolute;
    top: 28%;
    left: 56%;
    border-radius: 50%;
  }
  .result-cont{
    position: absolute;
    bottom: 0;
  }
  .u-pick{
    font-size: 20px;
    left: 80px;
  }
  .house-pick{
    font-size: 20px;
    text-wrap: nowrap;
    left: 250px;
  }
  .rules-container{
    position: absolute;
    z-index: 2;
    background-color: #ececec;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 10px;
    flex-direction: column;
  }
  .rules-header{
    display: flex;
    justify-content: center;
    padding: 2px;
    width: 100%;
    position: relative;
  }
  .btn-rules{
    position: relative;
    /* margin: auto; */
    /* bottom: 10px; */
    
    padding: 2px;
    font-size: 40px;

    height: 80px;
  }
  .bnt-open-rules{
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
    align-self: flex-end;
  }
}